<div> 
  <div>
    <div><%= @post.title %> by <%= @user.name %> </div>
    <div>
      Comments: <%= @post.comments_counter%>, Likes: <%= @post.likes_counter%>
    </div>
  </div>

  <div><%= @post.text %></div>
</div>

<% for i in @comments do %>
  <%= render partial: "comments/comments_card", locals: {comment: i} %>
<% end %>