<div class="postAbout"> 
  <div class="postTop">
    <div><%= @post.title %> by <%= @user.name %> </div>
    <div>
      Comments: <%= @post.comments_counter%>, Likes: <%= @post.likes_counter%>
    </div>
  </div>

  <div><%= @post.text %></div>
</div>
<div class="postComment">
  <% for i in @comments do %>
    <%= render partial: "comments/comments_card", locals: {comment: i} %>
  <% end %>
</div>